.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #b45f06;
  color: white;
}

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-menu li a:hover {
  color: #ffde9e;
}