*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.product-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically (optional) */
  width: 100%;
 font-weight: 600;
  top:100px;
  
}


.product-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;   /* កណ្តាល Card */
  width: 100%;
align-items: center;
padding:20px 20px;
  max-width: 1000px;
  gap: 50px;
  
}

.product-card {
  width:305px;
  padding: 15px;
  background: white;
  gap:23px;
  margin: 20px;
  border-radius: 10px;

  cursor: pointer;
  transition: transform 0.3s ease,box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center; /* កណ្តាលអក្សរ */
}

.product-card img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h3 {
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
}

.product-card p {
  color: #d52c2c;
  font-size: 16px;
}
.product-card:hover{
    transform:translateY(-10px) scale(1.03);
    box-shadow: 0 10px 18px rgba(0,0,0,0.15);
}