.item{
    width:100%;
    height: 500px;

 padding:30px 10px;
 gap:30px;
box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.item img{
    width:550px;
    display:flex;

}
.item p{
    margin:6px 15px;
}
.item-price {
    margin-top: 0 5px;
    font-size: 18px;
    margin-left: 25px;
     display: flex;
     gap:10px;
 
}
.item-price .item-old{
     text-decoration: line-through;
     color: red;
     display: flex;

} 
.item-new{
    color:gray;
    font-size:18px;
     font-weight: 600;

 
}
 .item-old{
color:gray;
 font-size:18px;
 font-weight: 600;


}
.item:hover{
    transform: scale(1.05);
    transform: 0.3s ease;
}