*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.nav-logo img{
    width: 200px;
    height:90px;
    margin-left: 100px;
 
    object-fit: cover;

    


}




.navbar{
    display: flex;
    justify-content: space-around;
    padding:2px;
    width:100%;
    height:107px;
    color: black;
 
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px -2px black;
}

.navbar-men{

     display: flex;
    padding:20px;
    width:100%;
    height:70px;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0 1px 3px -2px black;   
}

.navbar-men input-group {
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-login-cart img{
       width:50px;
    height:50px;
      margin-left:10px;

}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10;
}

.nav-logo p{
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 40px;
  font-weight: 600;
  margin-left: -200px;
  font-size: 15px;
  color:black;

  cursor: pointer;
}

.nav-menu li {
  position: relative;
  flex-direction: column;
  align-content: center;
  top:15px;

  cursor: pointer;
}

.nav-menu li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  
  height: 2px;
  background-color: #c70039; /* ពណ៌ក្រហម */
  border-radius: 10px;
}

.nav-menu li:hover:after{
    width: 100%;
    
}


.nav-login-cart{
    display: flex;
    align-items: center;
    gap:15px;
}
.nav-login-cart button{
    width:100px;
    height:40px;
    outline: none;
    border:none;
    color:black;
    font-size: 15px;
    background-color: rgb(16, 110, 241);
    border-radius:60px;
    margin-left:-300px;
}

.nav-login-cart button:active{
    background: whitesmoke;
}
.nav-login-cart img{
     margin-left:-200px;

}


.nav-cart-count{
    width:20px;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -29px;
      margin-left: -180px;
    border-radius: 11px;
    font-size: 10px;
    background-color: red;
    color:white;

}

.input-group{
    margin-left: -200px;
    top:-10px
}

.arrow-icon{
    font-size:12px;
    margin-left: 6px;
}
@media( max-width:768px){
.nav-menu {
    display:block;
}
}