.product-slider-container{
  width:70%;
  top:30px;
  
  margin-top: 150px;
  margin: auto;
 
  align-items: center;
  justify-content: center;

  

 align-items: center;
 justify-content: center;

 display: flex;
 flex-wrap: wrap;

}
.product-card {
  background: #fff;
  border-radius: 15px;
  text-align: center;
  transition: .3s;
  width:180px;
padding: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);



}

.custom-prev, .custom-next {
  font-size: 30px;
  color: black;
 
 
 /* small - ឆ្លងច្រើន */
}


.custom-prev { left: -5px; }
.custom-next { right: -5px; }

.product-card img {
  width: 150px;
  height: 140px;
  border-radius: 5px;
  object-fit: cover;
  display: flex;
 
}

.buy-btn {
  padding: 8px 10px;
  border: none;
  background: black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s;
  top: 200px;
}

.product-slider-container h1{
  font-size:30px;
  align-items: center;
  justify-content: center;
  display:flex;
  color:black;
  max-width: 600;
}
.buy-btn:hover {
  background: #e6004c;
}

.product-card img {
  width: 100%;
  height:420px;
object-fit: cover;
  border-radius: 10px;
}

.product-card h3 {
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
}

.product-card p {
  color: #d52c2c;
  font-size: 16px;
}
.product-card:hover{
    transform:translateY(-10px) scale(1.03);
    box-shadow: 0 10px 18px white;
}
/* arrow style */
.product-slider-container .custom-prev,
.product-slider-container .custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #000;
  z-index: 9999;
}

.custom-prev {
  left: -25px;
}

.custom-next {
  right: -25px;
}
